@import "src/common/styles/variables";

.editableSpanBlock {

  .textarea {
    width: 100%;
    height: 200px;
    background: inherit;
    padding: 10px;
    font-size: 16px;
    color: $white;
    line-height: 25px;
  }

  .hoverValue {
    background-color: $lightGreen;
  }

  .text {
    height: 200px;
    overflow-y: scroll;

    .content {
      display: flex;
      flex-wrap: wrap;
      padding: 15px 10px;

      .hoverWord {
        background-color: $darkGreen;
        margin: 3px;
      }

      .word {
        margin: 3px;
      }
    }
  }
}