@import "src/common/styles/variables";

.noteBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  min-width: 250px;
  width: 30%;
  min-height: 200px;
  max-height: 400px;
  color: white;
  border-radius: 10px;
  background-color: $green;
  overflow-y: scroll;

    button {
      width: 100%;
      border-radius: 5px;
      font-weight: bold;
    }
}