@import "src/common/styles/variables";

.addItemForm {
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;

  .textarea {
    font-family: inherit;
    outline: none;
    width: 100%;
    max-height: 90%;
    padding: 10px 20px;
    border: 1px solid $darkGreen;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: $grey;
    color: $black;
    font-size: 16px;
  }

  .button {
    padding: 7px 20px;
    background-color: $green;
    border: 1px solid $black;
    border-radius: 15px;
    color: $white;
    font-weight: bold;
    font-size: 17px;

    &:hover {
      background-color: $lightGreen;
    }

    &:disabled {
      background-color: #6d6d6d;
    }
  }
}